@value mainGreen,makerBoxShadow,  mainWhite from '/src/common/color.css';

.btn {
  width: 100%;
  border: none;
  border-radius: 0.3em;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.4em 0;

  background-color: mainGreen;
  color: mainWhite;
  opacity: 0.9;

  cursor: pointer;
}
.btn:hover {
  box-shadow: makerBoxShadow;
  opacity: 1;
}

.btn.reverse {
  background-color: mainWhite;
  color: mainGreen;
  border: 1px solid mainGreen;
}
