@value pointGreen, mainGray, makerBoxShadow, pointGray, textGray, textGreen, mainWhite from '/src/common/color.css';

.itemCard {
  height: 13em;
  list-style: none;
  margin-bottom: 2em;

  background-color: mainWhite;
  border-radius: 5px;
  box-shadow: makerBoxShadow;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.itemBox {
  width: 90%;
  height: 95%;

  background: linear-gradient(
    180deg,
    rgba(95, 91, 91, 0.4) 0%,
    rgba(92, 86, 86, 0.2) 17.81%,
    rgba(255, 252, 252, 0) 100%
  );
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plusBtn {
  opacity: 1;
  cursor: pointer;
}
.plusBtn:hover {
  opacity: 0.85;
}

.imgBox {
  width: 85%;
  height: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.itemImg {
  width: 100%;
  height: 100%;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.itemImg.iconCase {
  width: 2.5em;
  height: 2.5em;
}

.itemTitle {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0.4em;
  margin-bottom: 0;
  text-align: center;

  max-width: 120px;
  cursor: zoom-out;
}
.default {
  cursor: auto;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: zoom-in;
}
.itemLv {
  font-size: 0.7rem;
  font-weight: bold;
  font-style: italic;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  color: textGreen;
}
.itemPrice {
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  color: textGray;

  display: flex;
  justify-content: center;
}
.itemPriceText {
  margin: 0;
}
.itemPriceImg {
  width: 1.3em;
}

.itemBtns {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.itemBtns > button {
  font-size: 0.8rem;
  width: 90%;
  height: 80%;
  margin-bottom: 0;
  margin-left: 0.5em;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 150ms ease-in;
}
.itemBtns > button > img {
  width: 0.8em;
  margin-right: 0.2em;
}
.otherBtnToggle {
  width: 1em;
  text-align: center;
  cursor: pointer;
}
.otherBtnToggleImg {
  opacity: 0.8;
  transition: transform 150ms ease-in;
}
.otherBtnToggleImg:hover {
  opacity: 1;
  transform: scale(1.3);
}
.otherBtnToggleImg.onFocus {
  width: 0.8em;
  margin-left: 0.2em;
}
.btnsContainer {
  position: absolute;
  z-index: 10;

  width: 5em;
  background-color: mainWhite;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 1px solid mainGray;

  font-size: 0.8rem;
  font-weight: bold;

  transform: translate(60px, 50px);
  transition: 200ms ease-in;
}
.btnsContainer.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(60px, 0px);
}
.btnBox {
  padding: 0.5em;
  text-align: center;
}
.btnBox:first-child {
  border-bottom: 2px solid pointGray;
}
.btnBox:hover {
  background-color: pointGreen;
  border-radius: 5px;
}
.btnBox > img {
  width: 0.8em;
  margin-right: 0.2em;
}
