@value mainWhite, makerBoxShadowSpread from '/src/common/color.css';
.calendarPage {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 10% 90%;
}
.calendarBody {
  margin-top: 1.5em;
  overflow: hidden auto;
}
.calendarBox {
  display: flex;
  justify-content: center;
  margin: 0 1.1em;
  margin-bottom: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 1em;

  border-radius: 1em;
  box-shadow: makerBoxShadowSpread;
  background-color: mainWhite;
}
