.calendarBox {
  display: flex;
  justify-content: center;
  margin: 0 1.1em;
  margin-bottom: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 1em;

  border-radius: 1em;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
