@value pointGreen, mainGray, textGreen from '/src/common/color.css';

.addCategoryBtn {
  border: none;
  border-radius: 10px;
  padding: 0.3em 0.7em;
  cursor: pointer;
}

.addCategoryBtn.onFocus {
  background-color: pointGreen;
}
.addCategoryBtn.onCreate {
  background-color: textGreen;
}

.hidden {
  opacity: 0;
  width: 0;
  visibility: hidden;
}

.addCategory {
  height: 3em;
  display: flex;
  align-items: center;
}
.addCategoryForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputBox {
  display: flex;
  flex-direction: column;
}
input[type='color'] {
  width: 2.5em;
  height: 2.5em;
  border: none;
}
