@value makerBoxShadow, pointGray, todoComplete, todoFail from '/src/common/color.css';
@value mobileSize from '/src/common/size.css';

.todo {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 1em;
  padding: 0.5em 0.8em;
  border-radius: 0.8em;
  box-shadow: makerBoxShadow;
  font-size: 0.8rem;

  position: relative;
  transition: 300ms ease-in;
}
.todo.complete {
  background-color: todoComplete;
  color: pointGray;
  box-shadow: none;
  transform: scale(0.97);
}
.todo.fail {
  background-color: todoFail;
  color: pointGray;
  box-shadow: none;
  transform: scale(0.97);
}
.todoHeader {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
}
.deadLine {
  margin: 0.5em;
}
.category {
  background-color: lightyellow;
  color: orange;
  border-radius: 1em;
  padding: 0.5em;

  margin: 0.5em;
  margin-left: auto;
}

.todoBody {
  display: flex;
  margin-bottom: 0.5em;
}
.todoState {
  flex-basis: 15%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 300ms ease-in;
}
.todoState.onFocus {
  flex-basis: 35%;
  transition: 300ms ease-in;
}
.todoStateIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.todoStateIcon.onFocus {
}
.todoStateIcon > img {
  position: absolute;
  transition: 300ms ease-in;
  padding-right: 1.5em;
}
.todoStateIcon > img:nth-child(1) {
  z-index: 3;
}
.todoStateIcon > img:nth-child(2) {
  z-index: 2;
}
.todoStateIcon.onFocus > img:nth-child(1) {
  transform: translateX(-47px);
}
.todoStateIcon.onFocus > img:nth-child(2) {
  transform: translateX(1.5px);
}
.todoStateIcon.onFocus > img:nth-child(3) {
  transform: translateX(50px);
}
.todoStateIcon.notClick {
  pointer-events: none;
  cursor: auto;
}

.todoDescription {
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: -0.7em;
}
.title {
  margin: 0;
  margin-bottom: 0.2em;
  font-size: 1rem;
  font-weight: bold;
}

.rewardContainer {
  display: flex;
}
.rewardBox {
  display: flex;
  align-items: center;
  margin-right: 0.7em;
}
.rewardIcon {
  width: 1.5em;
}

.rewardValue {
  padding-bottom: 0.3em;
  padding-left: 0.05em;
}
.expIcon {
  width: 1.1em;
}

.completeBox {
  font-size: 0.7rem;
  flex-shrink: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.completeText,
.completeTime {
  margin: 0;
}
.completeText {
  font-weight: bold;
}
.completeTime {
  font-size: 0.6rem;
  margin-top: 0.2em;
}

.resultFail {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 4;

  transform: translate(200px, -5px) scale(1.15);
  background-image: url('/public/asset/fail_result.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 1;
  transition: 300ms ease-in;
}
.resultFail.hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.3);
}

.resultComplete {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 4;

  transform: translate(205px, -5px) rotate(20deg) scale(1.4);
  background-image: url('/public/asset/complete_result.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 1;
  transition: 300ms ease-in;
}
.resultComplete.hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.5);
}

.iconBox {
  margin-left: 1em;
  cursor: pointer;
}
.iconImg {
  width: 1.3em;
  color: red;
  transition: 250ms ease-in;
}
.iconImg:hover {
  transform: scale(1.25);
}

@media (max-width: mobileSize) {
  .todoState.onFocus {
    flex-basis: 42%;
  }

  .resultFail {
    width: 80px;
    height: 80px;
    transform: translate(150px, 8px) scale(1.15);
  }

  .resultComplete {
    width: 80px;
    height: 80px;
    transform: translate(150px, 8px) rotate(20deg) scale(1.4);
  }
}
