@value mainGray, mainGreen,mainBg, mainWhite, makerBoxShadow from '/src/common/color.css';
@value mobileSize from '/src/common/size.css';

.headerContainer {
  width: 100%;

  background-color: mainBg;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header {
  font-size: 1.05rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding-top: 1em;
}
.itemBox {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.itemBox:first-child {
  cursor: default;
}
.itemIcon {
  width: 3em;
  height: 3em;
  background-color: mainGreen;
  border-radius: 50%;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  z-index: 1;

  color: mainWhite;
}
.itemInfo {
  height: 2em;
  background-color: mainWhite;
  border: 3px solid mainGreen;
  border-radius: 0.3em;
  box-shadow: makerBoxShadow;
  padding-left: 1.5em;
  padding-right: 1em;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  transform: translateX(-1em);
}
.imageBox {
  width: 3em;
  height: 3em;
  border: 4px solid mainGreen;
  border-radius: 50%;

  background-image: url('/public/asset/default_profile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}
.imageBox > img {
  visibility: hidden;
}

@media (max-width: mobileSize) {
  .header {
    font-size: 0.85rem;
  }
}
