@value textGreen from '/src/common/color.css';

.offUser {
  position: absolute;
  width: 100%;
  height: 2000px;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15em;
}
.offUser > button {
  width: 50%;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
}
.description {
  margin-bottom: 2em;
}
.timer {
  font-size: 1.3rem;
  font-weight: bold;
  color: textGreen;
}
