.offUser {
  position: absolute;
  width: 100vw;
  height: 2000px;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15em;
}
.offUser > button {
  width: 50%;
}
