@value mainWhite, myPageBg, textGreen, makerBoxShadow from '/src/common/color.css';
@value doHyeonFont from '/src/common/font.css';
@value mobileSize from '/src/common/size.css';

.myPageContainer {
  overflow: hidden auto;
}
.myPage {
  background: myPageBg;
  width: 100%;
  height: 36em;

  border-radius: 0 0 50px 50px;
}
/* 로그아웃 버튼 */
.logoutBtn {
  width: 3em;
  height: 3em;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;

  background-color: rgba(0, 0, 0, 0.5);
}
.logoutBtn:hover {
  box-shadow: makerBoxShadow;
  animation: shake 200ms linear infinite;
}
@keyframes shake {
  0% {
    border-left: 2px solid rgba(0, 0, 0, 0);
  }
  25% {
    border-left: 2px solid rgba(0, 0, 0, 0);
    border-top: 2px solid rgba(0, 0, 0, 0);
  }
  75% {
    border-left: 2px solid rgba(0, 0, 0, 0);
    border-top: 2px solid rgba(0, 0, 0, 0);
    border-right: 2px solid rgba(0, 0, 0, 0);
  }
  100% {
    border-left: 2px solid rgba(0, 0, 0, 0);
    border-top: 2px solid rgba(0, 0, 0, 0);
    border-right: 2px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
  }
}
.logoutTooltip {
  transform: translate(62px, 45px);
  color: #000;
  font-weight: bold;
  animation: slide 300ms linear 1;
}
@keyframes slide {
  0% {
    transform: translate(5px, 45px);
  }
  100% {
    transform: translate(62px, 45px);
  }
}

/* 프로필 부분 */
.profileContainer {
  padding: 0 2.5em;
  margin: 0 3em;

  display: flex;
  justify-content: space-between;
}

.nickname {
  margin: 0;
  margin-bottom: 0.1em;
  font-size: 2rem;
  color: mainWhite;
}
.nicknameEditBtn {
  background-color: rgba(192, 212, 200, 0.7);
  border: none;
  border-radius: 10px;
  padding: 0.3em 0.8em;
  color: mainWhite;
  cursor: pointer;
}
.nicknameEditBtn.onFocus {
  background-color: textGreen;
}

.nicknameEditInput {
  display: block;

  background-color: rgba(192, 212, 200, 0.7);
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 0.4em 0.8em;
  margin-top: 0.4em;

  width: 1em;
  opacity: 0;
  visibility: hidden;
  transition: 300ms;
}
.visible {
  width: 10em;
  opacity: 1;
  visibility: visible;
}
.ImgBox {
  position: relative;
}
.img {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  border: 4px solid mainWhite;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fileInput {
  display: none;
}
.editImgBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;

  transform: translate(70px, -32px);
  transition: 300ms ease-in;
}
.editImgBtn:hover {
  animation: jelly 600ms linear 1;
}
@keyframes jelly {
  0% {
    transform: translate(70px, -32px);
  }
  33% {
    transform: translate(70px, -32px) scale(0.7, 1.3);
  }
  66% {
    transform: translate(70px, -32px) scale(1.3, 0.7);
  }
  100% {
    transform: translate(70px, -32px);
  }
}
.fileInputTooltip {
  transform: translate(0px, 87px);
  color: mainWhite;
  font-size: 0.8rem;
  font-weight: bold;
  position: relative;
  background: #333;
  border-radius: 0.4em;
  padding: 0.5em 0.8em;
}
.fileInputTooltip:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #333;
  border-top: 0;
  margin-left: -20px;
  margin-top: -10px;
  z-index: -1;
}

.loadingBox > article {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  border: 4px solid mainWhite;
}

/* 현재 정보 부분 */
.nowInfoBox {
  margin: 0 5em;

  font-size: 1.2rem;
  color: mainWhite;

  display: flex;
  align-items: center;
}
.nowInfoKey {
  margin-left: 0.2em;
}
.firstKey {
  margin-left: 0.3em;
}
.nowInfoValue {
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: auto;
  text-align: left;
}
.keyText {
  font-size: 1.2rem;
  font-weight: normal;
}

/* 누적 정보 부분 */
.totalInfoContainer {
  margin: 0 3.5em;
  margin-top: 1.5em;

  display: flex;
  justify-content: space-evenly;
  gap: 2em;

  font-family: doHyeonFont;
}
.totalInfoBox {
  width: 10em;
  background-color: rgba(255, 255, 255, 0.36);

  border-radius: 10px;
  text-align: center;
  padding: 0 0.5em;
  padding-top: 0.7em;
  padding-bottom: 1.3em;
}
.totalInfokey {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1rem;

  font-weight: bold;
}
.totalInfoValue {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;

  font-weight: bold;
  font-size: 1.4rem;
}

/* 토글 섹션 부분 */
.toggleMenus {
  margin-top: -4em;
}
.categoryList {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.itemCardList {
  padding: 0 1.5em;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, auto));
  justify-content: space-between;
}

@media (max-width: mobileSize) {
  .myPage {
    height: 38.5em;
  }
  .profileContainer {
    margin: 0.5em;
    margin-top: 1.2em;
  }
  .nowInfoBox {
    margin: 0 2em;
  }
  .totalInfoContainer {
    margin: 0 0.5em;
    margin-top: 1.5em;

    justify-content: space-between;
    gap: 1em;
  }
  .itemCardList {
    padding-left: 0;
    padding-right: 1em;
    justify-content: space-around;
  }
}
