@value mainWhite, myPageBg, makerBoxShadow from '/src/common/color.css';
@value doHyeonFont from '/src/common/font.css';

.myPage {
  background: myPageBg;
  width: 100%;
  height: 36em;

  border-radius: 0 0 50px 50px;
}
/* 로그아웃 버튼 */
.logoutBtn {
  width: 3em;
  height: 3em;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;

  background-color: rgba(0, 0, 0, 0.5);
}
.logoutBtn:hover {
  box-shadow: makerBoxShadow;
}
.logoutTooltip {
  transform: translate(5px, 80px);
  color: #fff;
  font-weight: bold;
}

/* 프로필 부분 */
.profileContainer {
  /* background: red; */
  padding: 0 2.5em;
  margin: 0 3em;

  display: flex;
  justify-content: space-between;
}
.nicknameBox {
}
.nickname {
  margin: 0;
  font-size: 2rem;
  color: mainWhite;
}
.nicknameEditBtn {
  background-color: rgba(192, 212, 200, 0.7);
  border: none;
  border-radius: 10px;
  padding: 0.3em 0.8em;
  color: mainWhite;
  cursor: pointer;
}
.ImgBox {
  position: relative;
}
.img {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  border: 4px solid mainWhite;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.imgEditBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;

  transform: translate(70px, -32px);
}

/* 현재 정보 부분 */
.nowInfoContainer {
}
.nowInfoBox {
  margin: 0 5em;

  font-size: 1.2rem;
  font-weight: bold;
  color: mainWhite;

  display: flex;
  align-items: center;
}
.nowInfoKey {
  margin-left: 0.2em;
}
.firstKey {
  margin-left: 0.3em;
}
.nowInfoValue {
  font-size: 1.8rem;
  margin-left: auto;
  text-align: left;
}
.keyText {
  font-size: 1.2rem;
}

/* 누적 정보 부분 */
.totalInfoContainer {
  margin: 0 3.5em;
  margin-top: 1.5em;

  display: flex;
  justify-content: space-evenly;
  gap: 2em;

  font-family: doHyeonFont;
}
.totalInfoBox {
  width: 10em;
  background-color: rgba(255, 255, 255, 0.36);

  border-radius: 10px;
  text-align: center;
  padding: 0 0.5em;
  padding-top: 0.7em;
  padding-bottom: 1.3em;
}
.totalInfokey {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1rem;

  /* letter-spacing: -1px; */
  font-weight: bold;
}
.totalInfoValue {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;

  font-weight: bold;
  font-size: 1.4rem;
}

/* 토글 섹션 부분 */
.categoryList {
  padding: 0;

  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, auto));
  gap: 0 0.5em;
  grid-auto-flow: dense; */
  display: flex;
  flex-wrap: wrap;
}

.itemCardList {
  padding: 0 1.5em;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, auto));
  gap: 0 2em;
  justify-content: space-between;
}
