@value mainBg from '/src/common/color.css';

.app {
  width: 100%;
  max-width: 570px;
  min-width: 423px;
  min-height: 100vmax;
  margin: 0 auto;
  background-color: mainBg;

  position: relative;
}
