@value makerBoxShadowGreen, mainGray,mainWhite, mainGreen, textGreen from '/src/common/color.css';

.todoPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todoContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding: 0.7em 1.3em;
}

.pageBtnContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
  gap: 1em;
  padding: 0 0.5em;
  padding-bottom: 1.1em;
}
.pageBtnContainer > button {
  font-size: 0.8rem;
}
.pageBtnContainer > button:hover {
  box-shadow: makerBoxShadowGreen;
}
.controlMenu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, auto));
  gap: 0.5em;
}
.controlMenu > button {
  font-size: 0.8rem;
}
.controlMenu > button:hover {
  box-shadow: makerBoxShadowGreen;
}

.todoList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contentFooter {
  display: flex;
  justify-content: space-between;
}
.contentFooter > select {
  background-color: mainWhite;
  border: 1px solid textGreen;
  color: textGreen;
  width: 25%;
}
.contentFooter > button {
  width: 70%;
}
