@value makerBoxShadowGreen,mainWhite, textGreen from '/src/common/color.css';
@value mobileSize from '/src/common/size.css';

.todoPage {
  height: 105vh;
  display: grid;
  grid-template-rows: 10% 72% 8%;
  overflow: hidden;
}
.todoContent {
  display: flex;
  flex-direction: column;
  padding: 0.7em 1.3em;
}
.pageBtnContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.1em;
}
.pageBtnContainer > button {
  font-size: 0.95rem;
}
.pageBtnContainer > button:hover {
  box-shadow: makerBoxShadowGreen;
}
.btnGap {
  width: 3.5%;
}

.controlMenu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, auto));
  gap: 0.5em;
}
.controlMenu > button {
  font-size: 0.9rem;
}
.controlMenu > button:hover {
  box-shadow: makerBoxShadowGreen;
}

.todoList {
  list-style: none;
  padding: 0;
  padding-right: 0.5em;
  margin: 0;

  overflow: hidden auto;
}

.contentFooter {
  display: flex;
  justify-content: space-around;
  padding: 0 0.9em;
}
.contentFooter > select {
  background-color: mainWhite;
  border: 1px solid textGreen;
  color: textGreen;
  width: 25%;
}
.contentFooter > button {
  width: 70%;
}

.noData {
  text-align: center;
  color: textGreen;
  font-weight: bold;
  background-color: mainWhite;
  padding: 2.5em;
}

@media (max-width: mobileSize) {
  .todoPage {
    height: 100vh;
  }
  .todoList {
    padding-right: 1em;
  }
  .contentFooter > select {
    font-size: 0.7rem;
  }
}
